.but{
    background: #8797E5;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow:none;
	height: 5%;
    width: 100%;
	text-align: center;
	cursor: pointer;
}
.but:hover{
    background: rgb(156, 84, 238);	
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
	cursor: pointer;
}
.but{
	float:left;
	margin-left: 43%;
	width: 15%;
	margin-top:1%;
}

#roles {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  text-align: center;
  margin : auto;
  margin-top : 5%;
  background-color:#C9C6C6;
}
#roles td, #roles th {
  border: 1px solid #ddd;
  padding: 8px;
}
#roles tr:hover {background-color: gray;}

#roles th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8797E5;
  color: white;
}
.select{
	background-color: #E9E9E9;
	width: 70%;
	box-shadow: 2px 2px 2px #eee;
}

