$font-family:   "Roboto";
$font-size:     14px;

$color-primary: #ABA194;

* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 400% 300% !important;
    animation: move 1s ease infinite;
    transform: translate3d(0, 0, 0);
    height: 100vh;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding-left: 10px;
  border: 1px solid #a94442; 
  color: red; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
.user {
    width: 90%;
    max-width: 400px;
    margin: 10vh auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 1ms ease-in-out 0.1s forwards;
}

.user__title {
    font-size: $font-size;
    margin-bottom: -10px;
    font-weight: 500;
    color: black;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
	border-style: solid;
	border-width: 0.5px;
	border-color : gray;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 1ms ease-in-out 0.1s forwards;
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    border-style: outset;
	border-width: 0.5px;

    outline: 0;
    transition: 0.3s;
    
    &:focus {
        background: darken(#fff, 3%);
    }
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: black;
    background: $color-primary;
    transition: 0.3s;
    
    &:hover {
        background: darken($color-primary, 5%);
    }
}
.bottom{
	text-align : center;
	font-family : $font_family;
	font-size : 14pt;
	color : black;

}
.bottom a{
	text-align: center;
	color : blue;
}
@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}