.acc{
    background: rgb(133, 45, 233);
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow:none;
	height: 5%;
    width: 100%;
	text-align: center;
	cursor: pointer;
}
.acc:hover{
    background: rgb(156, 84, 238);	
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
	cursor: pointer;
}
.rightbtn{
    float:right;
	margin-right: 34%;
	 width: 15%;
}
.leftbtn{
	float:left;
	margin-left: 30%;
	width: 15%;
}
form
{
	float : left;
	font-family: Arial, Helvetica, sans-serif;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0 auto;
	min-height: 500px;
}
form#updateForm{
	clear: right;
	margin-right: auto;
}
.fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  float: right;
}

.fa:hover {
  color: darkblue;
}
.EventBox{
    width: 45%;
    min-width: 45%;
    max-width: 45%;
    max-height: 400px;
    min-height: 400px;
	background: #509fc4;
	margin: 0 auto;
	border-radius: 10px;
	color: #fff;
	padding: 0px;
	float:left;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	padding: 1.5%;
	margin-bottom: 32px;
}


body{
	padding: 0px;
	margin: 0px;
}

.EventBox h2{
	text-align: center;
	margin-bottom: 35px;
}
.newTitle{
	color:#000;
	margin-left: 1%;
}