#Main
{
	font-family: Arial, Helvetica, sans-serif;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	min-height: 500px;
}

.EventBox
{
	width: 45%;
	background: #509fc4;
	min-height: 200px;
	margin: 0 auto;
	border-radius: 10px;
	color: #fff;
	padding: 0px;
	float:left;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1.5%;
	margin-bottom: 32px;
}

body
{
	padding: 0px;
	margin: 0px;
}

.EventBox h2
{
	text-align: center;
	margin-bottom: 35px;
}

.newTitle
{
	color:#000;
	margin-left: 1%;
}

.anunturi
{
	float: left;
	display: inline-block;

	background-color: silver;
	margin: 6px;
	width: 99.3%;
}

.titluanunt{
	color: red;
	text-align: left;
	text-transform: uppercase;
	background-color: lightseagreen;
	margin: 3px;
	padding: 5px;
	font-size: 20pt;
	font-family:  Arial, Helvetica, sans-serif;
	

}
.corpanunt{
	float: left;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;



	margin: 4px;
	padding: 5px;
	display: inline-block;
	font-size: 16pt;
	text-indent: 1%;
}
.data{
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-top: 3px;
	margin-left: 3px;
}


.localitate{

	float: right;
}