#header{
	background-color: lightskyblue;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-size: 500px;
	background-position: center;


	color : white;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 90px;



}