img{
	border-radius: 45%;
	width: 230px;
	height: 230px; 
}
.ProfilePage{
	margin: 40px auto;
    width: 850px;
    
}
#star{
	height: 20px;
	width: 20px;
}
.LeftCol{
	display: inline-block;
	float: left;
	text-align: center;

}
.RightCol{

	display: inline-block;
	float: right;

	font-size: 18pt;
	font-family: Arial, Helvetica, sans-serif;
	
}

#username{
	margin-top: 15px;

	color : indigo;

	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	border-top-color: purple;
	border-top-style: solid;
	border-top-width: 4px;

	border-left-color: violet;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: violet;
	border-right-style: solid;
	border-right-width: 2px;


}
#nume{

	color : indigo;

	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	border-left-color: violet;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: violet;
	border-right-style: solid;
	border-right-width: 2px;

}
#prenume{

	color : indigo;

	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	border-left-color: violet;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: violet;
	border-right-style: solid;
	border-right-width: 2px;

}
#email{

	color : indigo;

	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	border-left-color: violet;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: violet;
	border-right-style: solid;
	border-right-width: 2px;

}
#localitate{

	color : indigo;

	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	border-left-color: violet;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: violet;
	border-right-style: solid;
	border-right-width: 2px;
}
#rank{
	color : indigo;
	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom-color: purple;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-color: violet;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: violet;
	border-right-style: solid;
	border-right-width: 2px;
}
}
#descriere{

	color : indigo;
	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom-color: purple;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-color: violet;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: violet;
	border-right-style: solid;
	border-right-width: 2px;
}
.button{
	margin-top: 10px;

	font-size: 150%;
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background-color:transparent;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#1488c7;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.button:hover {
	background-color:transparent;
}
.button:active {
	position:relative;
	top:1px;
}


