
.button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

.button:hover {
  opacity: 0.8;
}
span.psw{
float : right;
padding-top: 16px;
}
input[type=text] {
  width: 25%;
  padding: 12px;
  margin: 8px ;
  display: inline-block;
  border: 1px solid #ccc;
  background-origin: border-box;

}
label{
	display: inline-table;
	font-size: 20pt;
}
.pass{
	margin-top: 30px;
	text-align: center;
}
#titlu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: violet;
}
#box{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17pt;
}
